@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <h3>Existing Copies</h3>
        @{
            foreach (var copy in Model)
            {
                <h4><a href="/view/copy/@copy.Id">@copy.Name</a></h4>
                <a href="/view/copy/@copy.Id/update" class="btn btn-primary">Edit</a>
                <form class="inline-form-button" method="post" action="/view/copies/@copy.Id/delete"><button type="submit" class="btn btn-danger">Delete</button></form>
                <hr />
            }
        }
    </div>
</div>